/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

:root {
  --video-width: 88.4rem;
}

.video-elem {
  top: 0;
  background: #000;
}

.player-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Aspect ratio */
.aspect-169 {
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}

.player {
  background: var(--color-bg-player);
}

/* Buttons & Forms */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

fieldset {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

fieldset input,
fieldset textarea,
fieldset select,
fieldset button {
  width: 100%;
  margin-bottom: 1rem;
}

.pos-relative {
  position: relative !important;
}

.player-wrapper {
  width: 100%;
  background: black;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}


@media (max-width: 480px) {
  /* Smaller Screens */
  :root {
    --video-width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  /* Small Screens */
  :root {
    --video-width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  /* Large Screens */
  :root {
    --video-width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  /* Large Screens */
  :root {
    --video-width: 64rem;
  }
}
